/* Header */
.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.logo-img {
    width: 100px;
    cursor: pointer;
   
}
.nav {
    display: flex;
    gap: 20px;
    list-style-type: none;
    cursor: pointer;
}



/* Body Section */
.res-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 15px;
}
.res-card {
    border: 1px solid grey;
    width: 22%;
    height: auto;
    padding: 15px;
}
.res-img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}


/* Footer */

.footer {
    position: relative;
    bottom: 0;

}